.nav{
  margin-top: 10px;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}
#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #856084;
  border-right: 1px solid #ccc;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #856084;
  border-right: 1px solid #ccc;
}

.logo {
  display: grid;
  grid-template-columns: auto auto auto;
}

.logo-one {
  font-weight: bold;
  color: #856084;
  grid-column: 1;
  font-size: xx-large;
}

.logo-two{
  grid-column: 2;
}

.logo-three {
  color: #856084;
  font-weight: bold;
  grid-column: 3;
  font-size: xx-large;
}