#single-page-card {
  border-radius: 20px;
  border-color: #856084;
  background-color: white;
  border-style: solid;
  width: 50vw;
  height: 60vh;
}

.single-page {
  display: flex;
  flex-direction: column;
}

.single-page-dog-name {
  display: flex;
  justify-content: flex-start;
  color: black;
}

.single-page-dog-img {
  padding-top: 3vh;
  width: 32vw;
  height: auto;
}

.single-page-about-dog {
  color: black;
  border-color: black;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 0px 3px 8px #888888;
  width: 32vw;
  height: auto;
  font-size: xx-large;
  display: inline-block;
}

.single-page-button-div {
  color: black;
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
}

.single-page-button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#84e296),
    to(#49d463)
  );
  background-image: -webkit-linear-gradient(top, #84e296, #49d463);
  background-image: -o-linear-gradient(top, #84e296, #49d463);
  background-image: linear-gradient(to bottom, #84e296, #49d463);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none;
}
